* {
box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    
   

}  

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 40px;
    height: 200px;
    text-align: center;
}

header h1{
    font-size: 300%;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: salmon;
        }

nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    align-items: right;
 
   
}

aside {
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.products {
    margin-bottom: 20px;
    padding:50 px;
    height: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}


.border {
    background:darkcyan;
}

footer {
    text-align: center;
}
footer ul {
    
    list-style-type: none;
} 

@media screen and (min-width:600px) {
    .products {
        flex-basis: 50%;
        padding-right: 5%;
    }
    .products:first-child {
        flex-basis: 50%
    }
@media screen and (min-width: 1000px) {
    .products {
        flex-basis: 33%
    }
    .products:first-child {
        flex-basis: 66%;
    }

@media screen and (min-width: 1400px) {
    .products {
        flex-basis: 25%;
    }
    .products {
        flex-basis: 50%;
    }



} 
 