* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

/* .border {
    background: linear-gradient(darkcyan,cyan)
}    */

header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 40px;
  height: 225px;
  text-align: center;
  background-image: url("https://media.istockphoto.com/photos/designer-team-drawing-website-ux-app-development-application-for-picture-id1299122459?b=1&k=20&m=1299122459&s=170667a&w=0&h=SuZfYiR_Gius3K-X3t0P-IL0_-B9NnLDMtRB58B4W24=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header h1 {
  margin-top: 25px;
  font-size: 300%;
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

header p {
  color: white;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: salmon;
  border: 2px solid black;
}

nav a {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  align-items: right;
}

img {
  width: 80%;
  /* border-radius: 25px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thebox1 {
  float: left;
  padding: 20px;
  width: 25%;
  clear: both;
  height: 100%;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  justify-content: space-between;
  align-content: center;
}

.products {
  padding: 20px;
  width: 100%;
  height: auto;
  border: dashed black;
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  flex: 1 0 200px;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products:first-child {
  flex: 2 1 200 px;
}

footer {
  bottom: 0%;
  width: 100%;
  text-align: center;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
}


#project-one {
  text-align: center;
  color: black;
  /* -webkit-text-fill-color: black; Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 0.02px;
  -webkit-text-stroke-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  opacity: 0.75;
}

#pass-gen {
  text-align: center;
  color: black;
  background-size: cover;
  opacity: 0.75;
 
}

#code-quiz {
  text-align: center;
  background-size: cover;
  background-size: cover;
  opacity: 0.75;
}

#day-planner {
  text-align: center;
  color: black;
  background-size: cover;
  
}

#code-refactor {
  text-align: center;
  background-size: cover;
  color: black;
  background-size: cover;
  opacity: 0.75;
}

#resume {
  text-align: center;
  background-size: cover;
  color: black;
  background-size: cover;
  opacity: 0.75;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
  .thebox1 {
    float: none;
    order: 1;
    width: 100%;
  }
  .products {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .products {
    flex-basis: 50%;
  }
  .products:first-child {
    flex-basis: 100%;
  }
}
